/**
* Reset
* - Prevents Themes and other Plugins from applying their own styles to our full screen search
*/
.closesearch a,
#full-screen-search,
#full-screen-search button,
#full-screen-search button.close,
#full-screen-search form,
#full-screen-search form div,
#full-screen-search form div input,
#full-screen-search form div input.search {
    font-family: Arial, sans-serif;
    background:none;
    border:0 none;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    float:none;
    font-size:100%;
    height:auto;
    letter-spacing:normal;
    list-style:none;
    outline:none;
    position:static;
    text-decoration:none;
    text-indent:0;
    text-shadow:none;
    text-transform:none;
    width:auto;
    visibility:visible;
    overflow:visible;
    margin:0;
    padding:0;
    line-height:1;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -ms-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
    -webkit-appearance:none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
}


/***** Search Form(s) *************************************************************************************/
.searchform {
    margin: 0px 10px 0 0;
    float: left;
}

.sidebar .widget_search {
    margin: 0;
    padding: 0px 0px 15px 0px;
    border-bottom: 1px solid #e9e6e6;
}

.site-header .searchform {
    float: right;
    padding: 0px 0 0 0;
}

.site-header .searchicon {
    color: #fff;
    font-size: 18px;
    padding: 3px 0 0;
    position: absolute;
    right: 25px;
    top: 30px;
}

.site-header .searchicon a {
    color: #fff !important;
}

.site-header .s, #nav .s, .sidebar .s, .sidebar-alt .s {
    width: 120px;
}

.searchsubmit {
    display: none;
}

#fullscreensearch .search-input {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #fff;
    height: 80px;
    font-size: 60px;
    position: absolute;
    top: 100px;
    left: 0;
    text-align: center;
    width: 90%;
    margin: 0 5%;
    outline: none;
}

#fullscreensearch {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 1);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
}

#fullscreensearch.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
    z-index: 100 !important;
}

#fullscreensearch .closesearch a {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #999 !important;
    border: 1px solid #dfdfdf;
    opacity: 1;
    padding: 15px 15px 12px!important;
    font-size: 27px;
}

#fullscreensearch .closesearch a:hover {
    text-decoration: none;
    background: #DD2D2A;
    color: #fff !important;
    border: 1px solid #DD2D2A;
}

